<div class="center hero-unit">
	<h1> Welcome to RD Cars</h1>
	<h2> 
		This is the all the fancy home page for RD Cars
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<!--<%= link_to image_tag("http://myewallpapers.com/wp-content/uploads/2012/04/Porsche-Pics.jpg", alt: "Porsche"), 'http://tuohuang.info/' %>-->